<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - nAHA Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @await RenderSectionAsync("Head", required: false)
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-page="/Index">nAHA Demo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link@(ViewData["Nav"] == "home" ? " active" : "")" asp-area="" asp-page="/Index">
                            <i class="fa-sharp fa-solid fa-house"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link@( ViewData["Nav"] == "htmx" ? " active" : "")" asp-page="/Htmx">
                            <i class="fa-sharp fa-solid fa-file-code"></i> HTMX
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link@( ViewData["Nav"] == "alpine" ? " active" : "")" asp-page="/Alpine">
                            <i class="fa-sharp fa-solid fa-tree"></i> Alpine
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link@( ViewData["Nav"] == "privacy" ? " active" : "")" asp-area="" asp-page="/Privacy">
                            <i class="fa-sharp fa-solid fa-lock"></i> Privacy
                        </a>
                    </li>
                </ul>
                @* <form class="d-flex" role="search"> *@
                @*     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> *@
                @*     <button class="btn btn-outline-success" type="submit">Search</button> *@
                @* </form> *@
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer class="d-flex flex-wrap justify-content-between align-items-center mt-auto px-3 py-1 my-2 bg-body-tertiary border-top">
    <div class="col-md-4 d-flex align-items-center">
        <span>
            &copy; 2024 - nAHA Demo
        </span>
    </div> 
    <div class="col-md-4 d-flex justify-content-end">
         <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/htmx/htmx.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>